<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find your taste here">
    <meta name="theme-color" content="#ed1c23">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Explore Rasa</title>
</head>

<body>
    <a class="skip-button" href="#main-content">Skip To Content</a>
    <header class="app-bar">
        <div class="nav-menu">
            <button id="hamburger-btn">☰</button>
        </div>
        <div class="app-bar-header">
            <h1 class="explore">ExploreRasa</h1>
            <img src="images/logo/er-logo.png" alt="Logo Explore Rasa">
        </div>
        <nav id="nav-drawer" class="app-navigator">
            <ul class="navigator-lists">
                <li><a class="nav-link" href="#/list">Restaurant List</a></li>
                <li><a class="nav-link" href="#/favourite">Favourite</a></li>
                <li><input type="text" class="search-field" placeholder="Search..." />
                    <button type="submit" class="search-button">🔍</button>
                </li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <!-- <img class="hero-image" src="images/hero/hero-image.jpg" alt="Jumbotron"> -->
        <div class="hero-inner">
            <h1 class="hero-title">Berpetualanglah Sejauh Mungkin</h1>
            <p class="hero-quote">Dan Temukan Cita Rasa Favoritmu di Sini</p>
        </div>
    </div>
    <main id="main-content"></main>
    <footer>
        <p>Copyright © 2021 - Explore Rasa Indonesia</p>
    </footer>
</body>

</html>