:root{
    --vermilion: #E3170A;
    --pale-silver: #D6CBC1;
    --timberwolf: #CDD6D0;
    --flame: #E16036;
    --tumbleweed: #D6A99A;

    --transition-anim: all .4s ease;
    --box-shadow-val: 2px 3px 10px rgba(0,0,0,0.2);
    --text-shadow-val:  0 4px 5px rgba(0,0,0,0.2);
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins',monospace;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.skip-button{
    position: absolute;
    top: -40px;
    width: 250px;
    left: 0;
    background-color: var(--pale-silver);
    color: var(--vermilion);
    padding: 5px;
    z-index: 100;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.skip-button:focus{
    top: 0px;
}

/* App Bar */
.app-bar{
    padding: 8px 16px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 50;
}

.app-bar .nav-menu{
    display: flex;
    align-items: center;
}

.app-bar .nav-menu button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px;
}

.app-bar .app-bar-header{
    display: flex;
    align-items: center;
}

.app-bar .app-bar-header img{
    position: relative;
    background-color: transparent;
}
.app-bar .app-bar-header h1{
    display: none;
    font-family: 'DAGGERSQUARE';
    background-color: transparent;
    color: var(--vermilion);
    font-size: 22px;
    font-weight: bold;
}

.app-bar .app-navigator{
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background: white;
    overflow: hidden;
}

.app-bar .app-navigator .navigator-list{
    justify-content: center;
    align-items: center;
    margin: auto;
}

.app-bar .app-navigator.open{
    left: 0;
}

.app-bar .app-navigator ul li input{
    display: inline-block;
    padding: 8px;
    margin-bottom: 5px;
    width: 74%;
}

.nav-link{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
    opacity: 0.75;
    min-width: 44px;
    min-height: 44px;
}

.nav-link:hover{
    opacity: 1;
}

.nav-link::before{
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: var(--vermilion);
    width: 0%;
    bottom: 10px;
}

.nav-link:hover::before{
    width: 5%;
}


/* Jumbotron */
.hero{
    display: block;
    width: 100%;
    min-height: 350px;
    text-align: center;
    justify-content: center;
    background: url("./images/hero/hero-image.jpg") no-repeat fixed center;
}

.hero-image{
   position: relative;
   width: 100%;
   opacity: 20%;
   top: 0;
   height: auto;
   z-index: -1;
}

.hero-inner{
    margin: 10px auto;
    max-width: 700px;
}

.hero-title{
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 3px 3px 10px var(--vermilion);
    text-transform: uppercase;
    z-index: 20;
}

.hero-quote{
    margin-top: 30;
    color: white;
    font-weight: bold;
    font-family: Lucida Calligraphy;
    font-size: 2em;
    text-shadow: 3px 3px 10px var(--vermilion);
}

/* Main Content */

main{
    padding: 32px 0;
    flex: 1;
}

.main-content{
    margin: 0 auto;
    min-height: 100%;
    padding: 0 20px;
}

.main-content-header{
    font-weight: bold;
}

/* Restaurants */
.restaurants{
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
    margin: 32px 0;
}

/* Restaurant Item */

.__restaurantItem{
    width: 100%;
    box-shadow: var(--box-shadow-val);
    border-radius: 10px;
    overflow: hidden;
}

.__restaurantItemHeader{
    position: relative;
}

.__restaurantImagePoster{
    width: 100%;
    max-height: 124px;
}

.__restaurantItemRating{
    position: absolute;  
    padding: 8px;
    top: 20px;
    right: 0;
    border-radius: 10px 0 0 10px;
    box-shadow: var(--box-shadow-val);
    display: inline-block;
    background-color: var(--vermilion);
    color: var(--timberwolf);
}

.__restaurantItemScore{
    margin-left: 10px;
}

.__restaurantItemSummary{
    padding: 16px;
}

.__restaurantItemSummary h3{
    color: var(--vermilion);
    text-decoration: none;
    font-size: 1em;
}

.__restaurantItemSummary h5{
    margin-bottom : 10px;
}

.__restaurantItemSummary p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.__readMoreButton{
    border-radius: 30px;
    border: 1px solid var(--vermilion);
    background: white;
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px;
    cursor: pointer;
    transition: var(--transition-anim);
    margin: 10px;
}

.__readMoreButton a{
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins';
    color: var(--vermilion);
    min-width: 44px;
    min-height: 44px;
}

.__readMoreButton a::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.4s;
}

.__readMoreButton:hover a{
    color: var(--vermilion);
    padding-right: 20px;
}

.__readMoreButton:hover a::after{
    right: 0;
    opacity: 1;
}

/* Restaurant */
.restaurant{
    padding: 0 auto;
}


.__restaurantDetail{
    margin: 10px auto;
    width: 100%;
    max-width: 750px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px 14px;
}

.__restaurantDetailDesc p{
    text-align: justify;
}

.__restaurantDetailMenus{
    margin: 10px auto;
    width: 100%;
    max-width: 750px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px 14px;
}

.__restaurantDetailName{
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.8em;
    text-shadow: var(--text-shadow-val);
    color: var(--vermilion);
}

.__restaurantDetailImage{
    width: 100%;
    max-width: 400px;
}

.__restaurantDetailInfo h4{
    margin: 10px 0;
}

.__categories span{
    border: 2px solid black;
    margin-right: 8px;
    padding: 3px;
}

.__restaurantDetailMenus h3{
    text-align: center;
    font-size: 1.8em;
    text-shadow: var(--text-shadow-val);
    color: var(--vermilion);
}

.__restaurantFoods{
    text-align: center;
    padding: 15px;
    border-radius: 50px 0 50px 0;
    box-shadow: var(--box-shadow-val);
}

.__restaurantFoods .food-list{
    list-style-type: none;
}

.__restaurantDrinks{
    text-align: center;
    padding: 15px;
    border-radius: 50px 0 50px 0;
    box-shadow: var(--box-shadow-val);
}

.__restaurantDrinks .drink-list{
    list-style-type: none;
}

.__restaurantDetailReviewBox{
    max-width: 750px;
    margin: 10px auto;
}

.__restaurantDetailReviewBox h3{
    text-align: center;
    text-shadow: var(--text-shadow-val);
    color: var(--vermilion);
    font-size: 1.8em;
}

.__restaurantDetailReview{
    max-width: 750px;
    margin: 10px auto;
}
.__restaurantDetailReview h3{
    text-align: center;
    text-shadow: var(--text-shadow-val);
    color: var(--vermilion);
    font-size: 1.8em;
}

.__reviewBox{
    display: block;
    box-shadow: var(--box-shadow-val);
    padding: 20px;
}

.__reviewBox form label{
    display: block;
    text-shadow: var(--text-shadow-val);
    font-size: 1.2em;
    text-align: center;
}

.__reviewBox input{
    margin: 10px auto;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
}

.__reviewBox textarea{
    margin: 10px auto;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
}

.__reviewBox button{
    padding: 12px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-val);
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border: none;
    background-color: var(--vermilion);
}

.__restaurantReviews{
    border-radius: 5px;
    box-shadow: var(--box-shadow-val);
    text-align: center;
    padding: 10px;
    max-height: 200px;
    overflow: scroll;
}

.__review{
    border-radius: 0 30px 30px 0;
    box-shadow: var(--box-shadow-val);
    margin: 10px;
    max-width: 600px;
    box-sizing: border-box;
}

.__review h4{
    margin: 20px auto 15px auto;
}

.__review h5{
    opacity: 75%;
}

/* Save Button */

.save{
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: var(--vermilion);
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saved{
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: var(--vermilion);
    color: yellow;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */
footer{
    padding: 14px;
}

footer p{
    text-align: center;
    color: var(--vermilion);
}