@media screen and (max-width: 330px) {
    .hero{
        overflow: unset;
        min-height: 250px;
    }
}


@media screen and (max-width: 649px) {
    .app-bar .app-bar-header img{
        display: none;
    }

    .app-bar .app-bar-header h1{
        display: inline-block;
        margin: auto;
    }

    .app-bar .app-navigator{
        background: white;
        border-radius: 5px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    }

    .hero-inner{
        position: absolute;
        top: 7em;
        left: 2em;
        right: 2em;
    }

    .hero-title{
        font-size: 1.5em;
    }

    .hero-quote{
        font-size: 1em;
    }

    footer p{
        font-size: 0.7em;
    }
}

@media screen and (min-width: 500px) {
    .restaurants{
        grid-template-columns: repeat(2,1fr);
        gap: 14px;
    }
}


@media screen and (min-width: 650px) {
    .app-bar{
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
    }

    .app-bar .nav-menu{
        display: none;
    }

    .app-bar .app-navigator{
        position: relative;
        top: unset;
        left: unset;
        margin: auto;
        align-content: center;
        width: 100%;
    }

    .app-bar .app-bar-header img{
        position: relative;
        background-color: transparent;
        width: 10em;
    }

    .app-bar .app-navigator ul li{
        display: inline-block;
    }

    .app-bar .app-navigator ul li a{
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: auto;
    }

    .hero-inner{
        position: absolute;
        top: 10em;
        right: 3em;
        left: 3em;
    }

    .hero-title{
        font-size: 3em;
    }

    .hero-quote{
        font-size: 1.5em;
    }

    .restaurants{
        grid-template-columns: repeat(3,1fr);
        gap: 14px;
    }
}

@media screen and (min-width: 755px) {
    .app-bar .app-bar-header img{
        width: 12em;
    }
}

@media screen and (min-width: 800px) {
    .app-bar .app-bar-header img{
        position: relative;
        background-color: transparent;
        width: 15em;
    }

    .hero-image{
        min-height: 375px;
    }

    .hero-inner{
        position: absolute;
        top: 10em;
        left: 3em;
        right: 3em;
    }

    .restaurants{
        grid-template-columns: repeat(4,1fr);
        gap: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .restaurants{
        grid-template-columns: repeat(5,1fr);
        gap: 14px;
    }

    main{
        max-width: 1200px;
        margin: 32px auto;
    }
}
